<h1>{{ league }}</h1>
<!-- Iterate over events data -->
<div *ngFor="let event of events" class="event">
    <h2>{{ event.away_team }} @ {{ event.home_team }}</h2>
    <h3>{{ event.commence_time | date:'short' }}</h3>
    <!-- Dropdown for Market Type Selection -->
    <select [(ngModel)]="selectedMarket[event.id.toString()]">
        <option *ngFor="let market of event.bookmakers[0].markets" [selected]="market.key === 'h2h'" [value]="market.key">{{ market.key }}</option>
    </select>
    <!-- Display the spread or total point above the table -->
    <div *ngIf="selectedMarket[event.id] === 'spreads'">
        Spread: {{ getPointValue(event, 'spreads') }}
    </div>
    <div *ngIf="selectedMarket[event.id] === 'totals'">
        O/U: {{ getPointValue(event, 'totals') }}
    </div>
    <div class="scrollable-table-container">
        <!-- Table to display odds for each sportsbook -->
        <table>
            <!-- Header row to display sportsbook titles -->
            <thead>
                <tr>
                    <th>Teams/Odds</th>
                    <th *ngFor="let bookmaker of event.bookmakers">{{ bookmaker.title }}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let outcome of getSelectedMarketOutcomes(event)">
                    <tr>
                        <td>{{ outcome.name }}</td>
                        <td *ngFor="let bookmaker of event.bookmakers">
                            {{ getOddsForSelectedMarket(bookmaker, outcome.name, selectedMarket[event.id]) }}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

  </div>
